In [12]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
from faker import Faker

In [2]:
# Crear objeto para datos falsos mediante Faker
fake = Faker()

In [3]:
# Crear una lista vacía para almacenar los datos falsos
lista = []

In [4]:
# Generar los datos falsos y almacenarlos en la lista creada anteriormente
for x in range(0,1000):
    lista.append({'name': fake.name(),
                  'last_name': fake.last_name(),
                  'email': fake.email(),
                  'address': fake.address()})

In [5]:
# Crear un DataFrame de Pandas desde la lista de datos falsos
data = pd.DataFrame(lista)

In [6]:
# Mostrar 10 datos aleatorios del dataframe
data.sample(10)

,name,last_name,email,address
618,Diana Rogers,Esparza,nicole77@example.org,"5391 Perry Port Suite 658\nJohnchester, KY 36426"
443,James Silva,Scott,coreymoore@example.net,"366 Walls Coves\nBrandonchester, AK 75655"
687,Erik Gomez,Spencer,bwilliams@example.com,"20537 Young Cliffs Suite 607\nBowenborough, WA..."
65,Ryan Zavala,Davis,james94@example.org,"48661 George Stravenue\nLuisland, AL 45850"
260,Rhonda Mitchell,Ellison,nathan87@example.net,"84777 Ashley Loaf\nNicholsbury, WI 74636"
261,Cody Smith,Carr,eherring@example.net,"9563 White Lakes Suite 939\nNorth Randallside,..."
309,Beth Sanford,Kim,bakermonique@example.net,"8933 Ann Pine\nLaurahaven, AS 66680"
15,Erin Nelson,Smith,madison14@example.net,"86024 Diane Village\nWalkerville, WI 49809"
910,Cindy Sullivan,Lopez,rickyvaldez@example.net,"28103 Lynn Skyway Apt. 432\nPrattstad, IA 10369"
891,Debra Smith,Jones,nyoung@example.net,"6906 Ortiz Pass\nMartinfurt, NJ 39085"

In [7]:
# Función para generar la edad de manera aleatoria entre 30 y 40 años
def random_edad(d):
    datos = np.random.randint(30, 41, 1)
    return int(datos)

# Función para generar la provincia de manera aleatoria usando las mencionadas
def random_provincia(d):
    datos = np.random.choice(['Loja', 'Pichincha', 'Guayas', 'Azuay', 'Manabí'])
    return datos

In [8]:
# Generar los datos aleatorios de edad y provincia y almacenarlos en el dataframe
data['Edad'] = data['name'].apply(random_edad)
data['Provincia'] = data['name'].apply(random_provincia)

In [10]:
# Mostrar 10 datos aleatorios del dataframe
data.sample(10)

,name,last_name,email,address,Edad,Provincia
485,Michael Santos,Jones,pwells@example.org,"71598 Galloway Alley\nPort Nicole, AS 82774",36,Pichincha
757,Joshua Gutierrez,Evans,cookescott@example.org,"591 Joseph Mews Suite 357\nLake Katherine, MN ...",30,Manabí
868,Erica Walsh,Browning,orrjohn@example.net,"61720 Martin Plaza Apt. 622\nMorrowfurt, AS 29099",31,Loja
325,Daniel Perez,Weaver,woodsdaniel@example.net,35698 Ronnie Stravenue Suite 601\nRobertaburgh...,39,Azuay
120,Jessica Mcintosh,Moore,cynthia69@example.net,"47483 Hester Roads Apt. 056\nHubbardfurt, NM 6...",31,Pichincha
251,Caroline Rodriguez,Rice,bakeranthony@example.net,"363 Joseph View\nWest Davidfurt, AR 86738",31,Manabí
507,Bradley Wright,Rivera,reynoldspaul@example.com,"PSC 0127, Box 5690\nAPO AA 22923",32,Azuay
265,James Oconnor,Santiago,mgutierrez@example.net,"479 Kimberly Road\nWest Daniel, AK 93793",32,Loja
361,Jordan Foley,Lewis,kelseylarson@example.net,"200 Amy Radial\nTaylorbury, OK 03304",30,Pichincha
692,Paul Dunn,Page,carrjanet@example.org,"5828 Gerald Port\nNorth Charlesville, WA 48475",31,Loja

In [11]:
# Guardar el dataframe como archivo CSV
data.to_csv("midata_grupo_01.csv")